*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    height: 100vh;
    background: linear-gradient(to bottom,#2987e4 50%,#16191e 50%);
    background: url("evening.jpg") no-repeat;
    background-position: center;
} */
.clock{
    background: #16191e;
    height: 320px;
    width: 320px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 15px solid #242931;
    box-sizing: content-box;
    box-shadow: 15px 15px 35px rgb(0,0,0,0.2),inset 0 0 30px rgba(0, 0, 0, 0.4);
}
img{
    position: relative;
}
.hand{
    position: absolute;
    background-color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
    background-color: red;
}
.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: #2987e4;
}
/* .morning{
    background:url("morn.jpg") no-repeat;
}
.afternoon{
    background:url("afternoon.jpg") no-repeat;
}
.evening{
    background:url("evening.jpg") no-repeat;
}
.night{
    background:url("night.jpg") no-repeat;
} */